<section class="top_books">
  <h2>Highest Rated Books</h2>
  <div class="flex_row_3">
  <% @top_rated_books.each do |top_rated_book| %>
    <div id="top_book_<%= top_rated_book.id %>" class="book">
      <div class="book_cover_container"><img src="<%= top_rated_book.img_url %>" alt="" class="book_cover"></div>
      <div class="book_text">
        <h3><a href="/books/<%= top_rated_book.id %>"><%= top_rated_book.title %></a> <span class="avg_rating">(<%= rounded_1(top_rated_book.reviews.avg_rating) %>)</span></h3>
        <h4>Authors:
          <% top_rated_book.authors.each do |author| %>
            <% if author != top_rated_book.authors.last %>
              <a href="/authors/<%= author.id %>"><%= author.name %></a>,
            <% else %>
              <a href="/authors/<%= author.id %>"><%= author.name %></a>
            <% end %>
          <% end %>
        </h4>
        <p>Pages: <%= top_rated_book.page_num %></p>
        <p>Published: <%= top_rated_book.year_published %> </p>
        <p><%= top_rated_book.reviews.count %> Reviews</p>
      </div>
    </div>
  <% end %>
  </div>
</section>
<section class="low_books">
  <h2>Lowest Rated Books</h2>
  <div class="flex_row_3">
  <% @low_rated_books.each do |low_rated_book| %>
    <div id="low_book_<%= low_rated_book.id %>" class="book">
      <div class="book_cover_container"><img src="<%= low_rated_book.img_url %>" alt="" class="book_cover"></div>
      <div class="book_text">
        <h3><a href="/books/<%= low_rated_book.id %>"><%= low_rated_book.title %></a> <span class="avg_rating">(<%= rounded_1(low_rated_book.reviews.avg_rating) %>)</span></h3>
        <h4>Authors:
          <% low_rated_book.authors.each do |author| %>
            <% if author != low_rated_book.authors.last %>
              <a href="/authors/<%= author.id %>"><%= author.name %>, </a>
            <% else %>
              <a href="/authors/<%= author.id %>"><%= author.name %></a>
            <% end %>
          <% end %>
        </h4>
        <p>Pages: <%= low_rated_book.page_num %></p>
        <p>Published: <%= low_rated_book.year_published %> </p>
        <p><%= low_rated_book.reviews.count %> Reviews</p>
      </div>
    </div>
  <% end %>
  </div>
</section>
<section class="high_activity_users">
  <h2>High Activity Users</h2>
  <div class="flex_row_3">
  <% @high_activity_users.each do |high_activity_user| %>
    <div id="high_activity_user_<%= high_activity_user.id %>" class="high_activity_user">
      <h3><a href="/users/<%= high_activity_user.id%>"><%= high_activity_user.user_name %></a></h3>
      <p><%= high_activity_user.reviews.count %> Reviews Written</p>
    </div>
  <% end %>
  </div>
</section>
<section class="all_books">
  <h2>All Books</h2>
  <div class="flex_row_2">
  <aside class="sorting_sidebar">
    <h4>Sort By:</h4>
      <ul class="sort_list">
        <li class="page_num_links">Page Number <a href="?sort=page_num&order=ASC" title="">ASC</a> | <a href="?sort=page_num&order=DESC" title="">DESC</a> </li>
        <li>Average Rating <a href="?sort=avg_rating&order=ASC" title="">ASC</a> | <a href="?sort=avg_rating&order=DESC" title="">DESC</a></li>
        <li>Number of Reviews <a href="?sort=review_count&order=ASC" title="">ASC</a> | <a href="?sort=review_count&order=DESC" title="">DESC</a></li>
      </ul>
    </aside>
    <div class="book_grid_4">
    <% @books.each do |book| %>
      <div id="book_<%= book.id %>" class="book">
        <div class="book_cover_container"><img src="<%= book.img_url %>" alt="" class="book_cover"></div>
        <div class="book_text">
          <h3><a href="/books/<%= book.id %>"><%= book.title %></a> <span class="avg_rating">(<%= rounded_1(book.reviews.avg_rating) %>)</span></h3>
          <h4>Authors:
            <% book.authors.each do |author| %>
              <% if author != book.authors.last %>
                <a href="/authors/<%= author.id %>"><%= author.name %>, </a>
              <% else %>
                <a href="/authors/<%= author.id %>"><%= author.name %></a>
              <% end %>
            <% end %>
          </h4>
          <p>Pages: <%= book.page_num %></p>
          <p>Published: <%= book.year_published %> </p>
          <p><%= book.reviews.count %> Reviews</p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
