<section class="top_books">
  <h2>Highest Rated Books</h2>
  <div class="flex_row_3">
  <% @top_books.each do |top_book| %>
    <div id="top_book_<%= top_book.id %>" class="book">
      <div class="book_cover_container"><img src="<%= top_book.img_url %>" alt="" class="book_cover"></div>
      <div class="book_text">
        <h3><%= top_book.title %> <span class="avg_rating">(<%= top_book.reviews.avg_rating %>)</span></h3>
        <h4>Authors: <%= top_book.authors.author_names %> </h4>
        <p>Pages: <%= top_book.page_num %></p>
        <p>Published: <%= top_book.year_published %> </p>
        <p><%= top_book.reviews.count %> Reviews</p>
      </div>
    </div>
  <% end %>
  </div>
</section>
<section class="low_books">
  <h2>Lowest Rated Books</h2>
  <div class="flex_row_3">
  <% @low_books.each do |low_book| %>
    <div id="low_book_<%= low_book.id %>" class="book">
      <div class="book_cover_container"><img src="<%= low_book.img_url %>" alt="" class="book_cover"></div>
      <div class="book_text">
        <h3><%= low_book.title %> <span class="avg_rating">(<%= low_book.reviews.avg_rating %>)</span></h3>
        <h4>Authors: <%= low_book.authors.author_names %> </h4>
        <p>Pages: <%= low_book.page_num %></p>
        <p>Published: <%= low_book.year_published %> </p>
        <p><%= low_book.reviews.count %> Reviews</p>
      </div>
    </div>
  <% end %>
  </div>
</section>
<section class="high_activity_users">
  <h2>High Activity Users</h2>
  <div class="flex_row_3">
  <% @high_activity_users.each do |high_activity_user| %>
    <div id="high_activity_user_<%= high_activity_user.id %>" class="high_activity_user">
      <h3><%= high_activity_user.user_name %> </h3>
      <p><%= high_activity_user.reviews.count %> Reviews Written</p>
    </div>
  <% end %>
  </div>
</section>
<section class="all_books">
  <h2>All Books</h2>
  <div class="flex_row_2">
  <aside class="sorting_sidebar">
    <h4>Sort By:</h4>
      <ul class="sort_list">
        <!-- <li>Book Title <a href="#" title="">(arrows)</a></li>
        <li>Author's Name <a href="#" title="">(arrows)</a></li> -->
        <li>Page Number <a href="#" title="">(arrows)</a></li>
        <li>Average Rating <a href="#" title="">(arrows)</a></li>
        <li>Number of Reviews <a href="#" title="">(arrows)</a></li>
      </ul>
    </aside>
    <div class="book_grid_4">
    <% @books.each do |book| %>
      <div id="book_<%= book.id %>" class="book">
        <div class="book_cover_container"><img src="<%= book.img_url %>" alt="" class="book_cover"></div>
        <div class="book_text">
          <h3><%= book.title %> <span class="avg_rating">(<%= book.reviews.avg_rating %>)</span></h3>
          <h4>Authors: <%= book.authors.author_names %> </h4>
          <p>Pages: <%= book.page_num %></p>
          <p>Published: <%= book.year_published %> </p>
          <p><%= book.reviews.count %> Reviews</p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
