<section class="show_book_info">
  <div class="book">
    <div class="book_cover_container"><img src="<%= @book.img_url %>" alt="" class="book_cover"></div>
    <div class="book_text">
      <h2><%= @book.title %> (<%= rounded_1(@book.reviews.avg_rating) %>)</p></h2>
      <p>Author(s): <% @book.authors.each do |author| %>
        <p><a href="/authors/<%=author.id%>">
        <%= author.name%></a></p>
      <% end %></p>
      <p>Pages: <%= @book.page_num %></p>
      <p>Published: <%=@book.year_published%></p>
      <p><%= @book.reviews.count %> Reviews</p>
      <p><a href="<%= new_book_review_path(@book) %>" rel="nofollow">Add a new review</a> | <a href="/books/" rel="nofollow">Delete Book</a></p>
    </div>
  </div>
</section>

<section class="top_reviews">
  <h2>Top Reviews</h2>
  <div class="flex_row_3">
    <%if @top_reviews.length != 0 %>
    <% @top_reviews.each do |review| %>
    <div class="review">
      <h4>"<%=review.review_title%>"</h4>
      <p><a href="/users/<%=review.user_id%>"><%=review.user.user_name%></a> gave a rating of <%=review.rating%>
      </p>
    </div>
    <% end %>
    <% else %>
    <p> No reviews yet </p>
    <% end %>
  </div>
</section>

<section class="low_reviews">
  <h2>Lowest Reviews</h2>
  <div class="flex_row_3">
  <%if @top_reviews.length != 0 %>
    <% @low_reviews.each do |review| %>
    <div class="review">
      <h4>"<%=review.review_title%>"</h4>
      <p><a href="/users/<%=review.user_id%>"><%=review.user.user_name%></a> gave a rating of <%=review.rating%>
      </p>
    </div>
    <% end %>
    <% else %>
    <p> No reviews yet </p>
    <% end %>
  </div>
</section>

<section class="user_reviews">
  <h2>All Reviews:</h2>
  <% @book.reviews.each do |review| %>
  <div class="review" id="review_<%= review.id %>">
    <div class="review_info">
      <h3><%=review.review_title%></h3>
      <p>Rating: <%=review.rating%></p>
      <p>Reviewed by <a href="/users/<%=review.user_id%>"><%=review.user.user_name%></a></p>
    </div>
    <div class="review_text">
      <p><%=review.review_text%></p>
    </div>
  </div>
  <% end %>
</section>
