<section class="show_book_info">
  <div class="book">
    <h2><%= @book.title %></h2>
    <p>Average Rating: <%=@book.reviews.avg_rating%></p>
    <p>Author(s): <%= @book.authors.author_names%></p>
    <plas>Pages: <%= @book.page_num %></p>
  </div>
</section>

<section class="top_reviews">
  <h2>Top Reviews</h2>
  <div class="review">
  <% @top_reviews.each do |review| %>
    <h4><%=review.review_title%></h4>
    <p><%=review.user.user_name%> gave a rating of <b><%=review.rating%></b></p>
  <% end %>
  </div>
</section>

<section class="low_reviews">
  <h2>Lowest Reviews</h2>
  <div class="review">
    <% @low_reviews.each do |review| %>
      <h4><%=review.review_title%></h4>
      <p><%=review.user.user_name%> gave a rating of <b><%=review.rating%></b></p>
    <% end %>
  </div>
</section>

<section class="all_reviews">
  <h2>All Reviews:</h2>
  <p><a href="/books/new" target="_blank" rel="nofollow">Add a new review</a></p>
  <div class="review">
  <% @book.reviews.each do |review| %>
    <h4><%=review.review_title%></h4>
    <p><%=review.user.user_name%> gave a rating of <b><%=review.rating%></b></p>
    <P>"<%=review.review_text%>"</p>
  <% end %>
  </div>
</section>
