<section class="show_book_info">
  <div class="book">
    <div class="book_cover_container"><img src="<%= @book.img_url %>" alt="" class="book_cover"></div>
    <div class="book_text">
      <h2><%= @book.title %></h2>
      <p>Average Rating: <%=@book.reviews.avg_rating%></p>
      <p>Author(s): <%= @book.authors.author_names%></p>
      <p>Pages: <%= @book.page_num %></p>
    </div>
  </div>
</section>

<section class="top_reviews">
  <h2>Top Reviews</h2>
  <div class="flex_row_3">
    <% @top_reviews.each do |review| %>
    <div class="review">
      <h4><%=review.review_title%></h4>
      <p><%=review.user.user_name%> gave a rating of <%=review.rating%></p>
    </div>
    <% end %>
  </div>
</section>

<section class="low_reviews">
  <h2>Lowest Reviews</h2>
  <div class="flex_row_3">
    <% @low_reviews.each do |review| %>
    <div class="review">
      <h4><%=review.review_title%></h4>
      <p><%=review.user.user_name%> gave a rating of <%=review.rating%></p>
    </div>
    <% end %>
  </div>
</section>

<section class="all_reviews">
  <h2>All Reviews:</h2>
  <p><a href="/books/new" target="_blank" rel="nofollow">Add a new review</a></p>
  <div class="review_grid_4">
  <% @book.reviews.each do |review| %>
    <div class="review">
      <h4><%=review.review_title%></h4>
      <p><%=review.user.user_name%> gave a rating of <%=review.rating%></p>
      <p>"<%=review.review_text%>"</p>
    </div>
  <% end %>
  </div>
</section>
