<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= @page_class %>">
    <header>
      <a href="/" title="Home" class="logo-link"><h1>Book Club</h1></a>
    </header>
    <div class="maint-content">
      <%= yield %>
    </div>
    <footer>
      <p>By <a href="https://github.com/amypetrie" target="_blank" title="Amy's Github">Amy Petrie</a> and <a href="https://github.com/TimothyFell" target="_blank" title="Tim's Github">Tim Fell</a></p>
    </footer>
  </body>
</html>
